aniso8601==3.0.0
astroid==1.6.3
attrs==17.4.0
Django==2.0.4
django-admin-rangefilter==0.3.5
django-appconf==1.0.2
django-environ==0.4.4
django-filter==1.1.0
django-filters==0.2.1
django-graphql-jwt==0.1.9
django-measurement==3.0.0
feedparser==5.2.1
google-api-python-client==1.6.6
graphene==2.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
httplib2==0.11.3
iso8601==0.1.12
isort==4.3.4
django==2.0.4
graphene_django
django-graphql-jwt
measurement
